---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main style="text-align: center">
        <section>
          <img src="/assets/emotes/random" alt="Random Emote" />
          <h1>404</h1>
          <p>We WANna find your looking for but it's not there.</p>
          <a href="/">Check out the homepage.</a>
        </section>
    </main>
</Layout>