---
import Layout from "../layouts/Layout.astro";
---

<Layout><main>
      <h2>Main Outfit</h2>
      <div class="image-gallery">
        <div class="gallery-item">
          <img
            src="assets/forms/Cerbervt_full_model.webp"
            alt="Cerber's full model"
            onclick="showModal(this.src)"
          />
        </div>
      </div>
      <h2>VRChat Outfits</h2>
      <div class="image-gallery">
        <div class="gallery-item">
          <img
            src="assets/forms/VRChat/Cerber_VRChat_costume_1.webp"
            alt="Cerber in sailor dress"
            onclick="showModal(this.src)"
          />
        </div>
        <div class="gallery-item">
          <img
            src="assets/forms/VRChat/Cerber_VRChat_costume_2.webp"
            alt="Cerber in purple dress"
            onclick="showModal(this.src)"
          />
        </div>
        <div class="gallery-item">
          <img
            src="assets/forms/VRChat/Cerber_VRChat_costume_3.png"
            alt="Cerber in casual outfit"
            onclick="showModal(this.src)"
          />
        </div>
        <div class="gallery-item">
          <img
            src="assets/forms/VRChat/Cerber_VRChat_costume_4.webp"
            alt="Cerber in gothic lolita"
            onclick="showModal(this.src)"
          />
        </div>
      </div>
    </main>
</Layout>