<div id="imageModal" class="modal">
    <span class="close" onclick="closeModal()">&#xd7;</span>
    <img class="modal-content" id="modalImg" />
</div>
<footer class="footer">
  wan wan! ૮ ・ﻌ・ა
  <a
    href="https://virtualyoutuber.fandom.com/wiki/CerberVT"
    style="color: white; text-decoration: underline"
    >Main Source Used</a
  > <!-- THE LACK OF WHITESPACE UNDER THIS IS SO ANNOYING -->
</footer>